.post {
    background-color: #f1f1f1;
    border: 2px solid #aaa;
    border-radius: 1px;
    padding: 5px;
    margin: 5px 0;
}

.post-time-right {
    float: right;
    color: #aaa;
}

.post-time-right {
    float: right;
    color: #aaa;
}

.break-text p {
    word-wrap: break-word;
}

.profile-text {
    font-size: small;
}